:root {
  /* ACCENT COLOR */
  --ctp-anxety: #97718a;
  
  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-lavender: #b4befe;
  --ctp-blue: #89b4fa;
  --ctp-text: #E9EDEF;
  
  /* UI COLOR */
  --ctp-subtext1: #d3dce0;
  --ctp-subtext0: #bbc2c6;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #475254;
  --ctp-surface1: #3d4142;
  --ctp-surface0: #22282a;
  --ctp-base: #181818;
  --ctp-mantle: #0b0b0b;
  --ctp-crust: #11111b;
  --shadow: #010409;
  --ctp-accent: var(--ctp-anxety);
  color-scheme: dark;
}

:root,
.dark {
  --body-background-fill: var(--background-fill-primary);
  --body-text-color: var(--ctp-subtext0);
  --color-accent-soft: var(--ctp-surface0);
  --background-fill-primary: var(--ctp-mantle);
  --background-fill-secondary: var(--ctp-base);
  --border-color-accent: var(--ctp-surface0);
  --border-color-primary: var(--ctp-surface0);
  --link-text-color-active: var(--ctp-subtext0);
  --link-text-color: var(--ctp-subtext0);
  --link-text-color-hover: var(--ctp-accent);
  --link-text-color-visited: var(--ctp-subtext0);
  --body-text-color-subdued: var(--ctp-subtext0);
  --shadow-spread: 1px;
  --block-background-fill: var(--ctp-mantle);
  --block-border-color: var(--border-color-primary);
  --block-border-width: None;
  --block-info-text-color: var(--body-text-color-subdued);
  --block-label-background-fill: var(--background-fill-secondary);
  --block-label-border-color: var(--border-color-primary);
  --block-label-border-width: None;
  --block-label-text-color: var(--ctp-text);
  --block-shadow: None;
  --block-title-background-fill: None;
  --block-title-border-color: None;
  --block-title-border-width: None;
  --block-title-text-color: var(--ctp-text);
  --panel-background-fill: var(--background-fill-secondary);
  --panel-border-color: var(--border-color-primary);
  --panel-border-width: None;
  --checkbox-background-color: var(--ctp-surface1);
  --checkbox-background-color-focus: var(--checkbox-background-color);
  --checkbox-background-color-hover: var(--ctp-surface2);
  --checkbox-background-color-selected: var(--ctp-accent);
  --checkbox-border-color: var(--ctp-surface2);
  --checkbox-border-color-focus: transparent;
  --checkbox-border-color-hover: transparent;
  --checkbox-border-color-selected: transparent;
  --checkbox-border-width: var(--input-border-width);
  --checkbox-label-background-fill: var(--ctp-surface0);
  --checkbox-label-background-fill-hover: var(--ctp-surface0);
  --checkbox-label-background-fill-selected: var(--checkbox-label-background-fill);
  --checkbox-label-border-color: var(--border-color-primary);
  --checkbox-label-border-color-hover: var(--checkbox-label-border-color);
  --checkbox-label-border-width: var(--input-border-width);
  --checkbox-label-text-color: var(--body-text-color);
  --checkbox-label-text-color-selected: var(--checkbox-label-text-color);
  --error-background-fill: var(--background-fill-primary);
  --error-border-color: var(--border-color-primary);
  --error-border-width: None;
  --error-text-color: var(--ctp-red);
  --input-background-fill: var(--ctp-base);
  --input-background-fill-focus: var(--input-background-fill);
  --input-background-fill-hover: var(--input-background-fill);
  --input-border-color: var(--border-color-primary);
  --input-border-color-focus: var(--ctp-surface1);
  --input-border-color-hover: var(--input-border-color);
  --input-border-width: None;
  --input-placeholder-color: var(--ctp-surface1);
  --input-shadow: None;
  --input-shadow-focus: 0 0 0 var(--shadow-spread) var(--ctp-surface1),
    var(--shadow-inset);
  --loader-color: var(--ctp-accent);
  --slider-color: var(--ctp-accent);
  --stat-background-fill: linear-gradient(to right,
      var(--primary-400),
      var(--primary-600));
  --table-border-color: var(--ctp-surface1);
  --table-even-background-fill: var(--neutral-950);
  --table-odd-background-fill: var(--neutral-900);
  --table-row-focus: var(--color-accent-soft);
  --button-border-width: var(--input-border-width);
  --button-cancel-background-fill: var(--ctp-red);
  --button-cancel-background-fill-hover: var(--ctp-red);
  --button-cancel-border-color: var(--ctp-red);
  --button-cancel-border-color-hover: var(--button-cancel-border-color);
  --button-cancel-text-color: var(--ctp-base);
  --button-cancel-text-color-hover: var(--button-cancel-text-color);
  --button-primary-background-fill: var(--ctp-accent);
  --button-primary-background-fill-hover: var(--ctp-accent);
  --button-primary-border-color: var(--ctp-accent);
  --button-primary-border-color-hover: var(--button-primary-border-color);
  --button-primary-text-color: var(--ctp-base);
  --button-primary-text-color-hover: var(--button-primary-text-color);
  --button-secondary-background-fill: var(--ctp-surface0);
  --button-secondary-background-fill-hover: var(--ctp-surface0);
  --button-secondary-border-color: var(--ctp-surface0);
  --button-secondary-border-color-hover: var(--button-secondary-border-color);
  --button-secondary-text-color: var(--ctp-text);
  --button-secondary-text-color-hover: var(--button-secondary-text-color);
}

#txt2img_interrupt,
#txt2img_skip {
	background-color: var(--ctp-surface2);
  transition: all 0.1s ease;
}

#txt2img_interrupt:hover,
#txt2img_skip:hover {
	background-color: var(--ctp-surface1);
}

div.gradio-group>*:not(.absolute) {
  border-radius: 8px !important;
  margin-bottom: 7px !important;
}

.block.token-counter span {
  box-shadow: None;
}

.gradio-button:hover {
  filter: brightness(120%);
}

::-moz-selection { /* Code for Firefox */
  background: var(--ctp-subtext0);
}

::selection {
  background: var(--ctp-subtext0);
}

input[type="number"]:not([step="any"])::-webkit-inner-spin-button,
input[type="number"]:not([step="any"])::-webkit-outer-spin-button {
  transition: all 0.1s ease;
}

.extra-network-thumbs .actions .name {
  font-size: 13px;
}

input[type="checkbox"] {
  border: transparent !important;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked:hover,
input[type="checkbox"]:checked:focus {
  border-color: transparent !important;
}

.gr-box > div > div > input.gr-text-input {
  width: 4em;
}

.progressDiv .progress {
  background: var(--ctp-accent);
  color: var(--shadow);
}

.dark .progressDiv,
.progressDiv {
  background-color: var(--ctp-surface0);
}

.gradio-dropdown ul.options li.item.selected {
  background-color: var(--ctp-surface0) !important;
}

.dark .gradio-dropdown ul.options li.item.selected {
  background-color: var(--ctp-surface0);
}

.block.gradio-gallery {
  box-shadow: var(--block-shadow);
  border-width: var(--block-border-width);
  border-color: var(--block-border-color);
  border-radius: var(--block-radius);
  background: var(--block-background-fill);
}

.block.gradio-accordion {
  box-shadow: var(--block-shadow);
  border-width: var(--block-border-width);
  border-color: var(--block-border-color);
  border-radius: var(--block-radius);
}

/* === SLIDERS STYLE === */
input[type='range'],
input[type='range'].svelte-pc1gm4 {
  background-color: var(--ctp-surface1);
  --thumb-height: 1em;
  --track-height: 0.125em;
  --track-color: var(--ctp-surface0);
  --brightness-hover: 130%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
}

/* === Styles for track in IE === */
input[type='range']::-ms-track,
input[type='range'].svelte-pc1gm4::-ms-track {
  background: transparent;
}

input[type='range']::-ms-fill-lower,
input[type='range'].svelte-pc1gm4::-ms-fill-lower {
  background: var(--ctp-accent);
  border-radius: 10px;
}

input[type='range']::-ms-fill-upper,
input[type='range'].svelte-pc1gm4::-ms-fill-upper {
  background: var(--ctp-overlay0);
  border-radius: 10px;
}

input[type='range']:focus::-ms-fill-lower,
input[type='range'].svelte-pc1gm4:focus::-ms-fill-lower {
  background: var(--ctp-accent);
}

input[type='range']:focus::-ms-fill-upper,
input[type='range'].svelte-pc1gm4:focus::-ms-fill-upper {
  background: var(--ctp-overlay0);
}

input[type='range']:hover,
input[type='range'].svelte-pc1gm4:hover,
input[type='radio']:hover {
  background-color: var(--ctp-surface2);
}

input[type='range']:focus,
input[type='range'].svelte-pc1gm4:focus,
input[type='radio']:focus {
  background-color: var(--ctp-surface2);
}

input[type='range'].win10-thumb {
  color: var(--ctp-accent);
  --thumb-height: 1.5em;
  --thumb-width: 0.5em;
  --clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
  input[type='range'],
  input[type='range'].svelte-pc1gm4 {
    color: var(--ctp-accent);
    --track-color: var(--ctp-surface0);
  }
}

/* === WebKit specific styles === */
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4,
input[type='range'].svelte-pc1gm4::-webkit-slider-runnable-track,
input[type='range'].svelte-pc1gm4::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4::-webkit-slider-thumb {
  height: var(--thumb-height);
  width: var(--thumb-height);
  background-color: var(--ctp-accent);
  border: none;
  margin-top: calc((var(--track-height) / 2));
}

input[type='range']:hover::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));
  cursor: grab;
}

input[type='range']:active::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  cursor: grabbing;
}

input[type='range']:disabled::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type='range'],
input[type='range']::-moz-range-track,
input[type='range']::-moz-range-thumb,
input[type='range'].svelte-pc1gm4,
input[type='range'].svelte-pc1gm4::-moz-range-track,
input[type='range'].svelte-pc1gm4::-moz-range-thumb {
  appearance: none;
}

input[type='range']::-moz-range-thumb,
input[type='range'].svelte-pc1gm4::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

input[type='range']:active::-moz-range-thumb,
input[type='range'].svelte-pc1gm4:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type='range']::-moz-range-track,
input[type='range'].svelte-pc1gm4::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type='range']::-moz-range-progress,
input[type='range'].svelte-pc1gm4::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type='range']::-moz-range-track,
input[type='range']::-moz-range-progress,
input[type='range'].svelte-pc1gm4::-moz-range-track,
input[type='range'].svelte-pc1gm4::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type='range']::-moz-range-thumb,
input[type='range']::-moz-range-progress,
input[type='range'].svelte-pc1gm4::-moz-range-thumb,
input[type='range'].svelte-pc1gm4::-moz-range-progress {
  filter: brightness(100%);
}

input[type='range']:hover::-moz-range-thumb,
input[type='range']:hover::-moz-range-progress,
input[type='range'].svelte-pc1gm4:hover::-moz-range-thumb,
input[type='range'].svelte-pc1gm4:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

input[type='range']:active::-moz-range-thumb,
input[type='range']:active::-moz-range-progress,
input[type='range'].svelte-pc1gm4:active::-moz-range-thumb,
input[type='range'].svelte-pc1gm4:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

input[type='range']:disabled::-moz-range-thumb,
input[type='range'].svelte-pc1gm4:disabled::-moz-range-thumb {
  cursor: not-allowed;
}

/* all of the input range stuff is from this guy*/
/* Shout out to them https://codepen.io/ShadowShahriar/pen/zYPPYrQ */